tbldefs/tblBewohner.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
	<xsd:element name="dataroot">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tblBewohner" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="generated" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="tblBewohner">
		<xsd:annotation>
			<xsd:appinfo>
				<od:index index-name="PrimaryKey" index-key="idBewohner " primary="yes" unique="yes" clustered="no" order="asc"/>
				<od:index index-name="uniqueKey" index-key="txtBewohnerVorname txtBewohnerNachname " primary="no" unique="yes" clustered="no" order="asc asc"/>
				<od:tableProperty name="Orientation" type="2" value="0"/>
				<od:tableProperty name="OrderByOn" type="1" value="0"/>
				<od:tableProperty name="DefaultView" type="2" value="2"/>
				<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
				<od:tableProperty name="TotalsRow" type="1" value="0"/>
				<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
				<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
				<od:tableProperty name="HideNewField" type="1" value="0"/>
				<od:tableProperty name="BackTint" type="6" value="100"/>
				<od:tableProperty name="BackShade" type="6" value="100"/>
				<od:tableProperty name="ThemeFontIndex" type="4" value="-1"/>
				<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"/>
				<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
				<od:tableProperty name="AlternateBackShade" type="6" value="100"/>
				<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
				<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"/>
				<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idBewohner" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="txtBewohnerVorname" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="ColumnWidth" type="3" value="2640"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
							<od:fieldProperty name="ValidationRule" type="12" value="Not Is Null"/>
							<od:fieldProperty name="ValidationText" type="10" value="Bitte gültigen Vornamen angeben"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="txtBewohnerNachname" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="ColumnWidth" type="3" value="3930"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
							<od:fieldProperty name="ValidationRule" type="12" value="Not Is Null"/>
							<od:fieldProperty name="ValidationText" type="10" value="Bitte gültigen Nachnamen angeben"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="calcBewohnerName" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar" od:expression="[txtBewohnerVorname]+' '+[txtBewohnerNachname]">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Expression" type="12" value="[txtBewohnerVorname]+' '+[txtBewohnerNachname]"/>
							<od:fieldProperty name="ResultType" type="2" value="10"/>
							<od:fieldProperty name="ColumnWidth" type="3" value="3698"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="243"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
